<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>WEBproject</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/" class="current">Главная страница</a></li>
        <li><a href="/demand">Востребованность</a></li>
        <li><a href="/geography">География</a></li>
        <li><a href="/skills">Навыки</a></li>
        <li><a href="/last_vacancies">Последние вакансии</a></li>
    </ul>
</nav>
<header>
    <img src="{% static 'img/logo.png' %}" class="logo">
    <h1 class="title">Web-разработчик</h1>
</header>
<main>
    <h2>Кто такой web-разработчик?</h2>
    <hr style="border-color: blue">
    <p><strong> Веб-разработка </strong> – одно из популярных направлений в программировании. Профессия творческая и многоплановая. Название говорит само за себя. Разработчики создают сайты интернет-магазинов, развлекательные порталы, банковские приложения, социальные сети и многое другое.</p>
    <p>Они не только разрабатывают приложения, но и занимаются их тестированием. Процесс очень трудоемкий, включает в себя две составляющих – frontend и backend (визуальная и серверная разработка). Очень часто разработчики специализируются на одном направлении, но есть и те, кто совмещает оба. Они называются Fullstack-разработчики.</p>
    <img src="{% static 'img/content.jpg' %}">
    <h3>А теперь немного подробнее о каждом направлении:</h3>
    <ul>
        <li>
            <i>frontend</i>-разработчик – отвечает за внешнее, визуальное оформление приложения, то есть создает его
            интерфейс; его задача сделать взаимодействие пользователей с сайтом максимально удобным и комфортным,
            внешнее оформление должно полностью соответствовать разработанному дизайну;
        </li>
        <li>
            <i>backend</i>-разработчик – отвечает за внутренности приложения, серверную часть; он работает с кодом, создает
            алгоритмы программирования; его работа нам, как пользователям, не видна, но от него зависит, насколько
            быстро и функционально выполняется ваш запрос на сайте;
        </li>
        <li>
            <i>fullstack</i>-разработчик – универсал, который делает все, и внешнее оформление, и серверное; он в одиночку может полностью создать сайт или приложение.
        </li>
    </ul>
    <h4>Со временем специалист, который работает в одном направлении, может поменять специализацию или стать универсалом. Но из backend легче перейти на fullstack, чем с frontend.</h4>
    <p>Независимо от того, какое направление выбирает программист в области веб-разработки, его рабочий процесс в динамике состоит из следующих функций:</p>
    <ul>
        <li>знакомство с заказом от подрядчика и постановка цели;</li>
        <li>обсуждение проекта с другими специалистами (дизайнер, маркетолог);</li>
        <li>непосредственно разработка приложения (серверная и внешняя);</li>
        <li>тестирование приложения;</li>
        <li>доработка, если при проверке были выявлены недочеты и ошибки;</li>
        <li>доработка, если при проверке были выявлены недочеты и ошибки;</li>
        <li>запуск проекта и его презентация;</li>
        <li>техническое сопровождение и постоянное обновление приложения.</li>
    </ul>
    <p>В работе веб-разработчика все процессы важны. Но именно начальный подготовительный этап является залогом успеха всего проекта. Разработчик собирает и анализирует информацию, связанную с тематикой проекта, определяет потенциальных пользователей сайта, обсуждает с заказчиком его пожелания. Вся информация аккумулируется и превращается в техническое задание для разработки будущего веб-проекта.</p>
    <p>А затем уже начинается непосредственно создание веб-ресурса, тестирование и сдача готового проекта заказчику. По договоренности с заказчиком разработчик может продолжать осуществлять программную поддержку уже запущенного приложения, делать доработки в соответствии с новыми требованиями, решать технические проблемы.</p>
        <hr style="border-color: blue">
</main>
<footer>
    <p>Угренева Снежана Ильинична</p>
    <p>РИ-210932</p>
    <p>Еремина Ирина Вячеславовна</p>
    <p>РИ-210912</p>
</footer>
</body>
</html>